@media screen{

	.pricelistsMainDiv{
		width: 90%;
		margin-left: 5%;
		position: relative;
	}

	.labelDiv{
		width: 100%;
		margin-left: 0%;
		margin-top: 20px;
		text-align: center;
		font-weight: bold;
		border: none;
	}

	.searchDiv{
		width: 100%;
		margin-top: 20px;
		cursor:url('Tire.cur');
	}

	.searchBar{
		width: 100%;
		border-radius: 20px;
		border: solid dimgray 2px;
		padding-left: 1em;
		padding-right: 1em;
	}

	.searchButton{
		width: 15%;
		min-width: 85px;
		display: none;
	}

	.imgFrame{
		width: 48px;
		height: 48px;
		display: none;
	}

	.tireAnim{
		width: 60px;
		height: 60px;
		display: inline;
		-webkit-animation-name: tireAnimation; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
		animation-name: tireAnimation;
		animation-duration: 1s;
		animation-iteration-count:9000;
	}

	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes tireAnimation {
	from {margin-left: 0%;}
	to {margin-left: 100%;}
	}

	/* Standard syntax */
	@keyframes tireAnimation {
	from {margin-left: 0%;}
	to {margin-left: 100%;}
	}

	.noItemFound{
		font-size: 36px;
		text-align: center;
		margin-top: 40px;
	}

	.descriptionDiv{
		width: 100%;
		margin-left: 0%;
		border-style: double;
		text-align: center;
		font-weight: bold;
	}

	.descriptionSelect{
		padding-left: 0.5em;
		display: inline;
		width: 96%;
		max-height: 28px;
		margin-right: 0px;
		border: none;
	}

	.newList{
		display: inline;
		width: 28px;
		height: 28px;
		float: right;
		border: none;
	}

	#priceChangeFactor{
		margin-top: 10px;
		text-align: center;
	}

	.percentageClass{
		border: none;
		width: 50px;
		text-align: center;
	}

	#thereAreNotLists{
		margin-top: 100px;
		text-align: center;
	}

	.goButton{
		margin-left: 10px;
	}

	#priceChangeType{
		display: inline;
		width: 70px;
		text-align-last: center;
	}

	.listDiv{
		border-style: double;
		min-height: 40px;
/*		max-height: 350px;
*/		overflow: auto;
		margin-top: 20px;
	}

	.notmodified{
		color: red;
	}

	.changed{
		color: black !important;
	}

	.listTable{
		width: 100%;
	}

	.listTableHead{
		width: 100%;
	}

	.listTableHeadRow{
		width: 100%;
	}

	.listTableBody{
		width: 100%;
	}

	.listTableBodyRow{
		width: 100%;
	}

	.itemColumn{
		width: 75%;
		padding-left: 0.5em;
	}

	.priceColumnHeader{
		width: 25%;
		text-align: center;
	}

	.priceColumnValue{
		width: 25%;
		border-left: double black;
	}

	.priceInput{
		text-align: right;
		padding-right: 0.5em;
		width: 100%;
		color: inherit;
	}

	.buttonsDiv{
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}

	.deleteMessageClass{
		text-align: center;
		color: green;
		margin-top: 10px;
	}

	.deleteListButton{
		width: 20%;
		min-width: 155px;
	}

	.saveListButton{
		width: 20%;
		min-width: 155px;
	}

	.fixed_header{
	    width: 100%;
	    table-layout: fixed;
	    border-collapse: collapse;
	}

	.fixed_header tbody{
	  width: 100%;
	  border-style: double;
	  border-color: black;
	}

	.fixed_header thead tr {

	}

	.fixed_header tr {
		border-bottom: double black;
	}


	.fixed_header thead {
		background: black;
		color:#fff;
	}

	.fixed_header th, .fixed_header td {
	/*  padding: 5px;
	  text-align: left;
	*/
	}

	select {
		width: 100%;
		border: none;
	}

	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	  color: gray;
	}

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-style: italic;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      font-style: italic;
    }
    :-ms-input-placeholder { /* IE 10+ */
      font-style: italic;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-style: italic;
    }
	
	select:focus, textarea:focus, input:focus{
	    outline: none;
	}

	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	}	
}

@media only screen and (max-width: 900px) and (min-width: 701px){

	.listDiv{
		border-style: double;
		min-height: 40px;
		max-height: none;
		overflow: auto;
		margin-top: 20px;
	}

	.descriptionDiv{
		width: 100%;
		margin-left: 0%;
		border-style: none;
		text-align: center;
		font-weight: bold;
	}

	.descriptionSelect{
		display: inline;
		width: 85%;
		margin-left: 0px;
	}

	.newList{
		display: inline;
		width: 28px;
		height: 28px;
		float: right;
		border: none;
		text-align: left;
		line-height: 1em;
		font-weight: bold;
		font-size: 26px;
	}

    .searchBar{
      width: 83%;
      border-radius: 20px;
      border: solid dimgray 2px;
      padding-left: 1em;
      padding-right: 1em;
    }

    .searchButton{
      width: 15%;
      min-width: 85px;
      display: initial;
    }
}

@media only screen and (max-width: 701px){
    .searchBar{
      width: 70%;
      border-radius: 20px;
      border: solid dimgray 2px;
      padding-left: 1em;
      padding-right: 1em;
    }

	.descriptionSelect{
		display: inline;
		width: 85%;
		margin-left: 0px;
	}

    .searchButton{
      width: 15%;
      min-width: 85px;
      display: initial;
    }
}	